@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

/* Font Setup */
/* Latino Gothic for Latin characters */
@font-face {
    font-family: "MyBrandFont";
    src: url("/fonts/Latino-Gothic-Font/LatinoGothic-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "MyBrandFont";
    src: url("/fonts/Latino-Gothic-Font/LatinoGothic-Regular.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "MyBrandFont";
    src: url("/fonts/Latino-Gothic-Font/LatinoGothic-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "MyBrandFont";
    src: url("/fonts/Latino-Gothic-Font/LatinoGothic-Black.otf") format("opentype");
    font-weight: 800;
}

body {
    font-family: "MyBrandFont", "Almarai", sans-serif !important;
    font-weight: 600;
    line-height: 1.5; /* Increased line height for Arabic dots */
}

:root {
  --font-mono: 'Roboto Mono', monospace;
}


/* hide scrollbar but keep scrolling */
.scroll-stack-root {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
.scroll-stack-root::-webkit-scrollbar { display: none; } /* WebKit */

